$font-family: "Source Sans Pro", sans-serif;

// $active-opacity: 1;
// $inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$dark-background: #0e1117;
$lighter-background: #212329;
$moreLighter-background: #282c34;

$products-colors: #cc8749;
$expire-color: #ff7b72;
$nice-blue: #7ab5f2;
$nice-purple: #c5a5c5;
$nice-yellow: #fac863;
$nice-brown: #675313;

// $font:

// $error-color: #ff9f43;
// $confirm-color: #10ac84;

$spacing: 2rem;
