$font-family: "Source Sans Pro", sans-serif;

$active-opacity: 1;
// $inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$dark-background: #0E1117;
$lighter-background: #212329;
$moreLighter-background: #282C34;

$products-colors: #CC8749;
$expire-color: #FF7B72;
$nice-blue: #7AB5F2;
$nice-purple: #C5A5C5;
$nice-yellow: #FAC863;
$nice-brown: #675313;

// $font:

// $error-color: #ff9f43;
// $confirm-color: #10ac84;

$spacing: 2rem;