$font-family: "Source Sans Pro", sans-serif;



$white: #fff;
$black: #000;
$dark-red: #802026;
$green: #0ba718;


$dark-background: #0E1117;
$lighter-background: #212329;
$moreLighter-background: #282C34;

$products-colors: #CC8749;

// $font:

// $error-color: #ff9f43;
// $confirm-color: #10ac84;

$spacing: 2rem;