@import "styles/variables.scss";
@import "styles/reset.scss";
@import "styles/typography.scss";
@import "styles/mixins.scss";

.summary_section {
  color: white;
  
  h2 {
    text-align: center;
    color: $white;
    font-weight: bold;
    margin: 1rem;
      span {
        font-weight: bold;
        font-size: 2rem;
      }
  }
}
.summary_table {
  border-collapse: collapse;
  td, th {
    border: 2px solid orange;
    padding: 0.5rem;
    text-align: left;
  }
  thead {
    color: $green;
    font-weight: bold;
    background-color: #802026;;
  }
}
