h1,
h2 {
  color: black;
}

.top {
  display: inline-flex;
}

.recipe-image {
  padding: 0 6px;
  float: left;
  width: 75%;
  border: 2px solid rgb(10, 10, 10);
  border-radius: 5px;
}

.recipe-steps {
  list-style: lower-roman !important;
}
