@import "~normalize.css/normalize.css";
@import "styles/variables.scss";
@import "styles/reset.scss";
@import "styles/typography.scss";
@import "styles/mixins.scss";


.product_list_buttons {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}

#root > main > div.right > section > div.makeStyles-root-1 > div {
  background-color:hsl(27, 47%, 53%);
  color: white; 
}