@import "~normalize.css/normalize.css";
@import "styles/variables.scss";
@import "styles/reset.scss";
@import "styles/typography.scss";
@import "styles/mixins.scss";

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap");

* {
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body {
  background: rgb(167, 144, 121);
  font-family: "Fira Sans", sans-serif;
  color: $black;
  font-size: 25px;
  line-height: 1.3;
  height: 210%;
}

body {
  background-image: url(./components/images/bg.png);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.layout {
  display: flex;
  max-width: 1450px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 2em;
  .right {
    width: 76%;
  }
  .left {
    width: 24%;
  }
  h1,
  h2,
  h6 {
    color: orange;
    text-align: center;
    font-weight: bold;
  }
  li {
    color: $white;
  }
  a:hover,
  a:focus {
    color: orange;
    cursor: pointer;
  }
}
.dot-red {
  height: 25px;
  width: 25px;
  background-color: rgb(187, 15, 15);
  border-radius: 25%;
  display: inline-block;
  margin-top: 0.7em;
  margin-left: 1.35em;
}

.dot-yellow {
  height: 25px;
  width: 25px;
  background-color: rgb(228, 210, 52);
  border-radius: 25%;
  display: inline-block;
  margin-top: 0.7em;
  margin-left: 1.35em;
}

.dot-green {
  height: 25px;
  width: 25px;
  background-color: #0da71a;
  border-radius: 25%;
  display: inline-block;
  margin-top: 0.75em;
  margin-left: 1.35em;
}

.warning {
  display: flex;
  flex-direction: column;
  margin-top: 0.8em;
  margin-right: 0.2em;
  font-size: 20.15px;
  font-family: "Roboto";
  font-weight: 430;
}


@media only screen and (max-width: 960px) {
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  html {
    font-size: 15px;
  }

  .layout {
    flex-direction: column;
  }
  .flex_container {
    display: flex;
  }
  .top_navigation {
    display: flex;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 13px;
  }
}
