@import "~normalize.css/normalize.css";
@import "styles/variables.scss";
@import "styles/reset.scss";

@import "styles/typography.scss";

* {
  box-sizing: border-box;
}

body, html {
  min-height: 100vh;
  overflow: auto;
}

body {
  background-color: $moreLighter-background;
  // font-family: $font;
  font-size: 20px;
  line-height: 1.6;
  height: 100%;
}

.layout {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  .layout {
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}
