@import "~normalize.css/normalize.css";
@import "styles/variables.scss";
@import "styles/reset.scss";
@import "styles/typography.scss";
@import "styles/mixins.scss";

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  background: #e2eafc;
  font-family: "Fira Sans", sans-serif;
  color: $black;
  font-size: 23px;
  line-height: 1.6;
  height: 100%;
}

.layout {
  // @include shadow;
  display: flex;
  max-width: 80vw;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 2em;
  input,
  button {
    outline: none;
  }
  .right {
    width: 76%;
  }

  input {
    @include inset;
    padding: 16px 16px;
    text-align: center;
    border: none;
    text-shadow: -1px -1px 2px #fff, 2px 2px rgba(#000, 0.4);
    font-size: 25px;
  }
  button {
    @include shadow;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background: #e9e9e9;
    color: $black;

    &:hover,
    &:active {
      background-color: #ccc;
    }
    &:active {
      @include inset;
    }
  }
}
.dot-red {
  height: 25px;
  width: 25px;
  background-color: rgb(187, 15, 15);
  border-radius: 50%;
  display: inline-block;
  margin-top: 25px;
  margin-left: 65px;
}

.dot-yellow {
  height: 25px;
  width: 25px;
  background-color: rgb(228, 210, 52);
  border-radius: 50%;
  display: inline-block;
  margin-top: 25px;
  margin-left: 65px;
}

.dot-brown {
  height: 25px;
  width: 25px;
  background-color: rgb(105, 62, 5);
  border-radius: 50%;
  display: inline-block;
  margin-top: 25px;
  margin-left: 65px;
}

.dot-green {
  height: 25px;
  width: 25px;
  background-color: rgb(13, 167, 26);
  border-radius: 50%;
  display: inline-block;
  margin-top: 25px;
  margin-left: 65px;
}

.MuiTableCell-root MuiTableCell-body dot-green {
  width: 5px;
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  .layout {
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}
