@import "~normalize.css/normalize.css";
@import "styles/variables.scss";
@import "styles/reset.scss";
@import "styles/typography.scss";
@import "styles/mixins.scss";

.fav-list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.fav-container {
  // display: flex;
  flex-direction: row;
  justify-content: space-center;
  align-items: center;
  width: 200px;
  width: calc(100% * (1 / 4));
}

.fav-item {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  width: calc(100% * (1 / 4));
  align-items: center;
  justify-content: space-around;
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 60px;
}

.favourite-detail {
  max-width: 200px;
  border-radius: 3px;
}
